@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body{
    font-family: "Inter", Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

/* start header */

.header-box{
    background-color: #1a1a1a;
}

.header-box__nav{
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
}

.header-box__logo-div{
    height: 100%;
}

.header-box__logo-anchor{
    display: block;
    height: 100%;
    align-content: center;
}

.header-box__logo-anchor img{
    display: block;
    height: 80%;
}

.header-box__links-div{ 
    display: flex;
    gap: 2rem;
}

.header-box__links-a{
    color: white;
    text-decoration: none;
}

/* finish header */

/* start main */

.main-box{
    background-color: #212121;
    flex-grow: 1;
    align-content: center;
    /* position: relative; */
}

.main-box__chart-area{
    min-height: 50dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.chart-area__text{
    margin: 0;
    text-align: center;
}

.chart-area__chart-box{
    color: black;
}

.chart-area__button{
    background-color: #5aa3f7;
    width: fit-content;
    font-family: 'Inter';
    margin: auto;
    padding: 0.4rem;
    border-radius: 5px;
    text-transform: uppercase;
}

/* finish main */

/*start popup dialog*/

.main-box__dialog-box{
    background-color: #1a1a1a;
    border: 1px solid #2a5383;
    color: #dddddd;
}

.main-box__dialog-box::backdrop{
    background-color: rgba(15, 15, 15, 0.89);
}

.dialog-box__form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dialog-box__form-fieldset{
    border: 1px solid #a1a1a1d3;
    border-radius: 10px;
}

.form-fieldset__legend{
    font-weight: bold;
}

.dialog-box__form-text-box{
    overflow: hidden;
    display: flex;
    padding: 1px;
    border-radius: 10px;
}

.dialog-box__form-text-field{
    width: 100%;
    border-radius: 10px;
    background-color: #e2e2e2;
    box-sizing: border-box;
    text-indent: 5px;
    padding: 5px;
}

/*graph title*/
.dialog-box__form-title-input{
    width: 100%;
    box-sizing: border-box;
    background-color: #dddddd;
    border: none;
}

/*graph bar*/
.dialog-box__graph-bar-box{
    display: flex;
    justify-content: space-between;
}

.dialog-box__graph-field-box{
    width: 48%;
}

.graph-field-box__input{
    width: 100%;
    box-sizing: border-box;
    background-color: #dddddd;
    border: none;
}

/*graph buttons*/
.dialog-box__form-btnbox{
    display: flex;
    justify-content: space-around;
    margin-top: 0.7rem;
}

.form-btnbox__btn--confirm{
    background-color: #28d422;
    font-family: 'Inter';
    padding: 0.4rem;
    border-radius: 5px;
    text-transform: uppercase;
}

.form-btnbox__btn--add{
    background-color: #28d422;
    font-family: 'Inter';
    padding: 0.4rem;
    border-radius: 50% 0 0 50%;
    text-transform: uppercase;
    width: 30px;
}

.form-btnbox__btn--del{
    background-color: #d42222;
    color: white;
    font-family: 'Inter';
    padding: 0.4rem;
    border-radius: 0 50% 50% 0;
    text-transform: uppercase;
    width: 30px;
}

.form-btnbox__btn--cancel{
    background-color: #d42222;
    color: white;
    font-family: 'Inter';
    padding: 0.4rem;
    border-radius: 5px;
    text-transform: uppercase;
}

/*finish popup dialog*/

/* start footer */

.footer-box{
    background-color: #1a1a1a;
    height: 2rem;
}

.footer-box__main-text{
    height: 100%;
    margin: 0;
    text-align: center;
    align-content: center;
    text-shadow: 0 0 1px #1a1a1a;
}

.footer-box__main-text-a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/* finish footer */