@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

/* start header */

.header-box {
    background-color: #1a1a1a;
}

.header-box__nav {
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-box__logo {
    font-size: 1.6rem;
    position: relative;
}

.header-box__logo::after {
    position: absolute;
    content: "";
    background-color: white;
    width: 6px;
    height: 6px;
    right: -6px;
    bottom: 3px;
}

.links__anchor--logo {
    color: white;
    text-decoration: none;
    align-items: center;
}

.header-box__links {
    display: flex;
    gap: 2rem;
}

.links__anchor {
    display: inline-block;
    align-content: center;
    height: 100%;
    color: white;
    text-decoration: none;
}

.links__anchor::after {
    content: "";
    display: block;
    width: 1rem;
    border-bottom: 1px solid white;
    margin-left: auto;
}

/* finish header */

/* start main */

.main-box {
    background-color: #212121;
    flex-grow: 1;
    align-content: center;
}

.main-box__chart-area {
    min-height: 50dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.chart-area--text {
    margin: 0;
    text-align: center;
}

.chart-area--chart {
    color: black;
}

/* finish main */

/* start footer */

.footer-box {
    background-color: #1a1a1a;
    height: clamp(1rem, 2rem, 30rem);
}

.footer-box__main-text{
    height: 100%;
    margin: 0;
    text-align: center;
    align-content: center;
    text-shadow: 0 0 1px #1a1a1a;
}

.footer-box--anchor{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/* .footer-box--anchor::after{
    content: "";
    display: inline-block;
    position: relative;
    top: 4px;
    right: 42px;
    width: 1rem;
    border-bottom: 1px solid white;
} */
/* finish footer */